@import "./node_modules/bootstrap/scss/bootstrap.scss";




.bg-primary {
    background-color: #006ccf !important; 
}

.table{  background-image: url('./Pokeball.jpg') !important; 
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100vh !important;
    margin: 0 !important;}
